<h1>Owner was successfully created</h1>
<div class="row">
  <div class="small-3 columns">
    <strong>First name</strong>
  </div>
  <div class="small-9 columns">
    <%= @owner.first_name %>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <strong>Last Name:</strong>
  </div>
  <div class="small-9 columns">
    <%= @owner.last_name %>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <strong>Email:</strong>
  </div>
  <div class="small-9 columns">
    <%= @owner.email %>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <strong>Company:</strong>
  </div>
  <div class="small-9 columns">
    <%= @owner.company %>
  </div>
</div>